@model EventManager.Models.ViewModels.EventTypeDetailsViewModel
@{ 
    bool canBeDeleted = (Model.Events.Count() == 0);
}
<div class="container">
    <div class="row justify-content-md-center formContainer">
        <div class='col-sm-12 col-lg-10'>
            <div class="row formHeaderRow">
                <div class="col-sm-12">
                    @if (!canBeDeleted)
                    {
                        <h2 class="formHeader-heading text-danger">Cannot Delete Event Type</h2>
                        <p class="formHeader-description text-danger">
                            You cannot delete an Event Type that has events assigned to the type. The associated Events must be deleted or reassigned to a new Event Type before the event type can be deleted.
                        </p>
                    }
                    else
                    {
                        <h2 class="formHeader-heading">Delete Event Type?</h2>
                        <p class="formHeader-description">
                            Are you sure you want to delete this Event Type? This cannot be undone. 
                        </p>
                    }

                    <a asp-action="Index"><i class="ion-md-arrow-round-back"></i> Back to List</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6 form-group">
                    <strong>@Html.DisplayNameFor(model => model.EventTypeName)</strong><br />
                    <span>@Html.DisplayFor(model => model.EventTypeName)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <strong>Events with this Event Type</strong>
                    <div class="table-responsive-sm">
                        <table class="table table-striped table-sm table-light subTable">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Start
                                    </th>
                                    <th>
                                        End
                                    </th>
                                    <th>
                                        Creator
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Events.Count() > 0)
                                {
                                    foreach (EventIndexViewModelEventItem e in Model.Events)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@e.EventId" asp-controller="Event" asp-route-returnUrl="/EventType/Delete/@Model.EventTypeId@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")">@e.EventTitle</a>
                                            </td>
                                            <td>
                                                @e.EventTypeName
                                            </td>
                                            <td>
                                                @e.StartDate
                                            </td>
                                            <td>
                                                @e.EndDate
                                            </td>
                                            <td>
                                                @e.CreatedByUserDisplayName
                                            </td>
                                            <td>
                                                @e.Status
                                            </td>
                                            <td class="text-right">
                                                <a asp-action="Details" asp-route-id="@e.EventId" asp-route-returnUrl="/EventType/Delete/@Model.EventTypeId@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="View Details" class="glyphicon-ring">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@e.EventId" asp-route-returnUrl="/EventType/Delete/@Model.EventTypeId@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="Edit Event" class="glyphicon-ring">
                                                    <i class="fas fa-pen-square"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@e.EventId" asp-route-returnUrl="/EventType/Delete/@Model.EventTypeId@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="Delete Event" class="glyphicon-ring">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Events Assigned to this Event Type.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row formControlRow">
                <div class="col-sm-12 form-group">
                    <form asp-action="DeleteConfirmed" asp-route-id="@Model.EventTypeId" asp-route-returnUrl="@ViewBag.ReturnUrl">
                        <hidden asp-for="@Model.EventTypeId"></hidden>
                        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Cancel</a>
                        <a asp-action="Edit" asp-route-id="@Model.EventTypeId" asp-route-returnUrl="/EventSeries/Delete/@Model.EventTypeId@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" class="btn btn-primary">Edit</a>
                        @if (canBeDeleted)
                        {
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>