@model EventIndexViewModel

<div class="row justify-content-center">
    <div class="col-12">
        <div class="mb-2 pageHeaderTitle">
            <h3>Event Index</h3>
        </div>
        <hr />
        <div class="mb-2"><a asp-action="Create" asp-controller="Event" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")"><i class="fas fa-plus"></i> Create New Event</a></div>
        <form asp-page="/Index" method="get" class="floatingForm">
            <div class="form-row align-items-center mb-2">
                <div class="col-12 col-sm-6 col-md-4">
                    <input type="text" name="SearchString" class="form-control form-control-sm" value="@Model.CurrentFilter" placeholder="Search Events" />
                </div>
            </div>
            <div class="form-row align-items-top">
                <div class="col-auto mb-2">
                    <select asp-for="SelectedUserId" class="form-control form-control-sm" asp-items="Model.Users">
                        <option value="0">No User Filter</option>
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <select asp-for="SelectedEventTypeId" class="form-control form-control-sm" asp-items="Model.EventTypes">
                        <option value="0">No Event Type Filter</option>
                    </select>
                </div>
                @*<div class="col-auto mb-2">
                    <div class="form-row">
                        <div class="col-auto mb-2">
                            <input type="text" asp-for="StartDate" class="form-control form-control-sm" placeholder="Start Date" />
                        </div>
                        <div class="col-auto mb-2">
                            <input type="text" asp-for="EndDate" class="form-control form-control-sm" placeholder="End Date" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-2 text-right">
                            <small class="text-muted">Set Dates to Pay Period: </small>
                            <button type="button" class="btn btn-sm btn-success" id="currentPayPeriodButton" data-startdate="@Model.PayPeriodStartDate" data-enddate="@Model.PayPeriodEndDate">Current</button>
                            <button type="button" class="btn btn-sm btn-success" id="previousPayPeriodButton" data-startdate="@Model.PreviousPayPeriodStartDate" data-enddate="@Model.PreviousPayPeriodEndDate">Previous</button>
                        </div>
                    </div>
                </div>*@
            <div class="col-auto mb-2">
                <button type="submit" class="btn btn-sm btn-default" id="filterSubmit"><i class="fas fa-search"></i> Search</button>
                    @if (!String.IsNullOrEmpty(Model.CurrentFilter) || Model.SelectedUserId != 0 || Model.SelectedEventTypeId != 0)
                    {
                        <a class="btn btn-sm btn-success" asp-action="Index" asp-controller="Event"><i class="fas fa-arrow-left"></i> Back to Full List</a>
                    }
                </div>
            </div>
        </form>
        <div class="table-responsive-sm">
            <table class="table table-striped table-sm table-light indexTable">
                <thead>
                    <tr class="tablePageControlHeaderRow">
                        <th colspan="8">
                            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                                 page-class="" page-class-normal=""
                                 page-class-selected="active"
                                 page-url-searchString="@Model.CurrentFilter"
                                 page-url-sortOrder="@Model.CurrentSort"
                                 page-url-UserId="@Model.SelectedUserId"
                                 page-url-EventTypeId="@Model.SelectedEventTypeId"
                                 class="btn-group">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="8">
                            @Model.PagingInfo.TotalItems Events Found
                        </th>
                    </tr>
                    <tr>
                        <th>
                            EventId
                        </th>
                        <th>Title</th>
                        <th>
                            <a asp-page="/Index" title="Sort by Event Type"
                               asp-route-sortOrder="@Model.EventTypeSort"
                               asp-route-searchString="@Model.CurrentFilter"
                               asp-route-UserId="@Model.SelectedUserId"
                               asp-route-EventTypeId="@Model.SelectedEventTypeId">
                                Event Type
                                @if (Model.CurrentSort == "eventType_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index" title="Sort by Event Series"
                               asp-route-sortOrder="@Model.EventSeriesSort"
                               asp-route-searchString="@Model.CurrentFilter"
                               asp-route-UserId="@Model.SelectedUserId"
                               asp-route-EventTypeId="@Model.SelectedEventTypeId">
                                Event Series
                                @if (Model.CurrentSort == "eventSeries_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index" title="Sort by Start Date"
                               asp-route-sortOrder="@Model.StartDateSort"
                               asp-route-searchString="@Model.CurrentFilter"
                               asp-route-UserId="@Model.SelectedUserId"
                               asp-route-EventTypeId="@Model.SelectedEventTypeId">
                                Start Date
                                @if (Model.CurrentSort == "startDate_desc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-down"></i>
                                }
                            </a>
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            <a asp-page="/Index" title="Sort by Creator"
                               asp-route-sortOrder="@Model.UserIdSort"
                               asp-route-searchString="@Model.CurrentFilter"
                               asp-route-UserId="@Model.SelectedUserId"                               
                               asp-route-EventTypeId="@Model.SelectedEventTypeId">
                                Creator
                                @if (Model.CurrentSort == "userId_desc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-down"></i>
                                }
                            </a>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Events.Count() > 0)
                    {
                        foreach (EventIndexViewModelEventItem e in Model.Events)
                        {
                            <tr>
                                <td>
                                    @e.EventId
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@e.EventId" asp-controller="Event" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")">@e.EventTitle</a>
                                </td>
                                <td>
                                    @e.EventTypeName
                                </td>
                                <td>
                                    @if (e.EventSeriesId != 0)
                                    {
                                        <a asp-action="Details" asp-route-id="@e.EventSeriesId" asp-controller="EventSeries" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")">@e.EventSeriesTitle</a>
                                    }
                                    else
                                    {
                                        @e.EventSeriesTitle
                                    }
                                </td>
                                <td>
                                    @e.StartDate
                                </td>
                                <td>
                                    @e.EndDate
                                </td>
                                <td>
                                    <a asp-action="Details" asp-controller="User" asp-route-id="@e.CreatedByUserId" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")">@e.CreatedByUserDisplayName</a>
                                </td>
                                <td class="text-right">
                                    <a asp-action="Details" asp-route-id="@e.EventId" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="View Details" class="glyphicon-ring">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@e.EventId" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="Edit Event" class="glyphicon-ring">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@e.EventId" asp-route-returnUrl="/Event/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")" title="Delete Event" class="glyphicon-ring">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">No matching Events were found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>